/* the functional important stuff */
.container {
    display:table;
  }
  .gallerycard0 {
    display:table-row-group;  
  }
  .gallerycard1 {
    display:table-footer-group;
  }
  .gallerycard2 {
    display:table-header-group;
  }
  .gallerycard3 {
    display:table-footer-group;
  }
  .gallerycard4 {
    display:table-header-group;
  }
  .gallerycard5 {
    display:table-row-group;
  }

